 @import url('https://fonts.cdnfonts.com/css/anurati');
                
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none !important;
    list-style: none;
    font-family: 'Anurati', sans-serif;
                                                
}
body{
    width: 100%;
    background-image: linear-gradient(rgba(11, 11, 11, 0.8), rgba(11, 11, 11, 0.8)), url(image/hero.jpg);
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
    

}
.nav{
   
  background-color: rgb(11, 11, 11) !important;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: top 0.9s;
   
}
nav ul {
display: flex;
gap: 20px;
margin-top:    10px;


}
.togle{
    background-color: #ffffff;
    fill: #ffffff;
}
.list {
    
    color:#ffffff !important;
    margin-left: 10px;
    width: 96px;
 
}
.navlist{
    
    gap: 2px !important;
}



.logo{
    height: 50px;
   
}
.user{
    width: 15px;
    fill: white;
}
.login{
    
    display: flex;
    margin-bottom: 2px;
    margin-top: 7px;
    margin-left: 24px
  

}

.titrecover{
    
    margin-top: 15%; 
}
.playtech{
    text-align: center;
    color: #002aff;
}
.para{
    text-align: center;
    color: #ffffff;

}
.parent{
    background-color: black;
    margin-top: 20%;
}
.the{
    color: #ffffff;
}
.cate{
    color: #002aff;
}
.canvas{
   background-color: #002aff;
    height: 4px;
    width: 30%;
    margin-top: 30px;
    border: none;
    border-radius: 50px;
}
.para1{
    
    color: #ffffff;
    margin-left: 5%;

}
.titreca{
    display: flex;
    gap: 2px;
    margin-left: 2%;
    
}
.cardmhome{
    margin-top: 20px;
    margin-left: 20px;
    height: 82.6%!important;
    width: 288px;
    background-color: rgba(255, 255, 255,0.9)

} 
.cardmhome:hover{
    box-shadow: 0 0 40px rgb(0, 200, 255);
    zoom: 104%;
    transition: 0.2s;


}
.video{
    height: 418px;
    width: 400px; 
   
  
    object-fit: cover;
    
}
.vid{
    margin-top: 40px;
    height: 420px;
    width: 420px;
    border: 2px solid white;
    border-radius: 250px;
    z-index: 1;
    overflow: hidden;

   
}
.parent1{
    margin-top: 60px;
    background-color: black;

}
.gallery{
    width:100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 39PX;
    align-content: center;
}
.videos{
    width:auto;
    height: auto;
    z-index: 1;
    border: 1px solid #002aff;
}
.videos:hover{
    box-shadow: 0 0 40px rgb(0, 200, 255);
    zoom: 104%;
    transition: 0.7s;


}
/* .play{
    width: 100px;
    fill: red;
    align-items: center;

} */
.footer{
    background-image: linear-gradient(rgba(11, 11, 11, 0.8), rgba(11, 11, 11, 0.8)), url(image/banner-witcher-3.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10%;
    height: 400px;
    align-items: center;
    
}
.icon{
    width: 48px;
    fill: white;
    margin: 20%;
}
.icons{
    display: flex;
    justify-content:space-between ;
    width: 60%;
    
    
}
.imgfooter{
  background-color: black;
    
    width: 100%;
    height: 80px; 
   
   
}

.fb{
    background: rgba(255,255,255,0.1);
    width: 100px;
    height: 100px;
    transform: skewX(351deg);
}
.twitter{
    background: rgba(255,255,255,0.1);
    width: 100px;
    height: 100px;
    transform: skewX(351deg);

}
.instagram{
    background: rgba(255,255,255,0.1);
    width: 100px;
    height: 100px;
    transform: skewX(351deg);

}
.copyright{
    background-color: black;
    color: #ffffff;
    width: 100%;
    height: 60px;
}
/* ________________________________________________________________ */
/* GALLERY */
.videogallery{ 
    width: 100%;
 
  
   }
   .titregallery {
    z-index: 1;
    position: absolute;
    top: 66px;
    width: 100%;
    height: 90vh;
    background-color: rgb(11, 11, 11,0.8);

   }
   .playtechgallery{
    text-align: center;
    color: #002aff;
    margin-top: 15%;
   }
.videogallery{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.parentgallery{
    background-color: #fff;
    display: flex;
    
}
.parentgallery .cardm{

        margin-top: 20px;
        margin-left: 20px;
       height: auto;
        width: 288px;
        background-color: rgba(255, 255, 255,0.9)
    
    } 
    .cardm:hover{
        box-shadow: 0 0 40px rgb(0, 200, 255);
        zoom: 104%;
        transition: 0.2s;
    
    
    }
    .category{
        /* position: -webkit-sticky; */
        position: sticky;
        top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20%;
        width: 20%;
        height: 100vh;
       background-color: #000000;
    
    }
    .child{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       width: 80%;
       
        
    }
   .imggallery{
    width: 287px!important;
    height: 287px !important;
   } 
   .names{
    width: 90%;
    height: auto;
    text-align: center;
    margin-left: 4%;
    border: 1px  solid white;
    border-radius: 20px 0 20px 0;
     cursor: pointer; 
     
   }
   .names:hover{
     border-radius: 0%;
    border: 1px solid #002aff;
    box-shadow: 0 0 40px white;
    transition: 0.7s;
    zoom: 110%;
   }
     

    



