
/* page admine(data) */
.continer_cards{
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    flex-wrap: wrap;
    padding: 10px;
    /* background-color:red; */
    gap: 30px;
    width: 100%;
    justify-content: center;
    }
    .card{
        height: fit-content;
    }
    .prix_titile{
        display: flex;
        justify-content: space-between;
    }
    #myimg{
        height: 180px;
        
    }
    #fadd{
    /* width: 70%;     */
    margin:auto;
    }
    #btnadd{
        justify-content: center;
        margin-block: 2;
    }
    #btnSubAdd{
        margin-block: 20px;
        border-radius: 6px;
    }
    
    #category{
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        width: 20%;
        height: 100vh;
        /* float: left; */
        right: 0px;
        z-index: 2;
        background-color: rgb(22, 12, 12)       ;
    }
    .contt{
        display: flex;
    }
    
  /* page aupdate  */
  #basic-url{
    background-image: url();
  }
    
    
    
    
    
    